<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/sign.css">
    <title>Restaurant Listings</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class = "Catering">
        <img src="/imgs/homepage.jpg" alt="Catering Service Banner" >
        <div class="text">
            <p>Welcome to Caters!</p>
            <h3>Your ultimate partner for all event catering needs.</h3>
            <a href="/restaurants"class="button">Order Now</a>
        </div>
        </div>
    </div>
   
   

    <ul>
      
    </ul>
    
    <%- include('partials/footer') %>
</body>
</html>
