<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Restaurant Listings</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class = "Catering">
        <img src="/imgs/homepage.jpg" alt="Catering Service Banner" >
        <div class="text">
            <p>Welcome to Caters!</p>
            <h3>Your ultimate partner for all event catering needs.</h3>
            <a href="/restaurants"class="button">Order Now</a>
        </div>
        </div>
    </div>
    <div class="offers-section">
        <h2>Special Offers</h2>
        <div class="offers-container">
            <div class="offer">
                <img src="path/to/offer-image1.jpg" alt="Offer 1">
                <h3>Discount on Group Bookings!</h3>
                <p>Book for more than 10 people and get a 15% discount.</p>
                <a href="#" class="order-button">Book Now</a>
            </div>
            <div class="offer">
                <img src="path/to/offer-image2.jpg" alt="Offer 2">
                <h3>Early Bird Special</h3>
                <p>Make a reservation before 12 PM and save 10%.</p>
                <a href="#" class="order-button">Book Now</a>
            </div>
            <div class="offer">
                <img src="path/to/offer-image3.jpg" alt="Offer 3">
                <h3>Weekend Gala</h3>
                <p>Enjoy our exclusive weekend buffet at a reduced price.</p>
                <a href="#" class="order-button">Book Now</a>
            </div>
        </div>
    </div>
    
   

    <ul>
      
    </ul>

    <%- include('partials/footer') %>
</body>
</html>
